* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  border: 1px solid;
}

#header-nav {
  width: 100%;
  background-color: rgba(245, 22, 10, 0.362);
  display: flex;
  flex-direction: column;
  
}

#header-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1110px;
  width: 100%;
  height: 100px;
  margin: auto;

  padding: 5px 10px;
}

#header-nav img {
  max-width: 250px;
  max-height: 60px;
}

#header-nav div:nth-child(2) {
  display: flex;
  gap: 10px;
}

#header-nav nav {
  display: flex;
  gap: 10px;
  
}

#header-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

#header-nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#header-nav button {
  border: none;
  background: none;

  display: none;
}

#header-nav button i {
  font-size: 30px;
}

#login {
  display: flex;
  gap: 10px;
  color: black;
}

#login a {
  display: flex;
  align-self: flex-start;
  gap: 5px;
}

#login a i {
  font-size: 20px;
  transform: translateY(-5px);
}

#header-reserve {
  width: 100%;

  background-color: rgb(230, 113, 113);
  display: flex;
  flex-direction: column;
}

#header-reserve > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1110px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 372px) {
  #login a span {
    display: none;
  }

  #login a i {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 1200px) {
  #header-nav ul li {
    display: none;
  }
  #header-nav ul #login {
    display: flex;
  }

  #header-nav > div {
    height: 50px;
  }

  #header-nav img {
    max-width: 150px;
    max-height: 40px;
  }

  #header-nav button {
    display: block;
  }
}


.main-foto{
width: 100%;
height: 395px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid;
}

.sobreEmpresa{
display: flex;
flex-direction: column;
margin-top: 95px;
background-color: rgb(230, 113, 113);
height: 150;
}

.sobreEmpresa p{
font-size: 30px;
color: aliceblue;
padding: auto;
text-align: center;
line-height: 50%;

}

footer{
  display: flex;
  width: 100%;
  height: 30%;
  position: fixed;
  bottom: 0;
  background-color: rgba(245, 22, 10, 0.362); 
}

.container-footer{
  display: flex;
  gap: 30px;
  flex-direction: column;
  border: 1px solid;
  width: 100%;
}

.footer-redes-sociais ul{ 
  font-size: 30px; 
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  background-color: rgb(230, 113, 113);
}

.footer-redes-sociais ul a{
  color: black;
  text-decoration: none;
}

.footer-contatos ul{
  color: black;
  list-style: none  ;
  font-size: 20px; 
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
}


.footer-contatos ul a{
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  
}

.pagina-login{
  background-color: rgb(230, 113, 113);


}

.login.html{
background-color: blue;

}